/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 avr. 2021, 18:50:49
    Author     : cleme
*/
html, body{ height: 100%; margin: 0; padding: 0; align-items: stretch}
body{ background: rgb(245,255,143); background: radial-gradient(circle, rgba(245,255,143,1) 0%, rgba(0,212,255,1) 29%, rgba(7,0,128,1) 100%);}
#jumbotron { display : flex; width: 100%; padding-top: 6rem; padding-bottom: 4rem; padding-left: 2rem; padding-right: 2rem;}
.cadreCV { padding-bottom: 0; background: white; border-radius: 25px; }
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/******************************************
* Me contacter
******************************************/

.meContacter { clear: both; }
.meContacter .details { width: 100%; margin-left: 10px; margin-top: 3px; font-size: 1.5em;
 font-weight: 700; justify-content: space-between;}
.contact-icon { filter: grayscale(1); -webkit-filter: grayscale(1);
 -moz-filter: grayscale(1); -ms-filter: grayscale(1);
 -o-filter: grayscale(1); height: 32px; width: 32px; margin: 2px 0; }
.meContacter a, .meContacter a:hover { text-decoration: none; color: grey; }
.meContacter a:hover>img { filter: grayscale(0); -webkit-filter: grayscale(0);
 -moz-filter: grayscale(0); -ms-filter: grayscale(0);
 -o-filter: grayscale(0); }
footer { 	display : table-row; /**height: 100px;*/}
body { 	display : table; width: 100%; }