/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 mars 2021, 10:44:40
    Author     : cleme
*/
.bd-placeholder-img { font-size: 1.125rem; text-anchor: middle; -webkit-user-select: none;
 -moz-user-select: none; -ms-user-select: none; user-select: none; }
@media (min-width: 768px) {
 .bd-placeholder-img-lg { font-size: 3.5rem; }
}
.jumbotron { margin-bottom: 0px; } 