/* Timeline */
.timeline {
    list-style: none;
    padding: 0;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #6c7293;
    left: 50%;
    margin-left: -1.5px;
}

.timeline .timeline-wrapper {
    display: block;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    padding-right: 90px;
}

.timeline .timeline-wrapper .timeline-panel {
    border-radius: 2px;
    padding: 20px;
    position: relative;
    max-width: 523px;
    border-radius: 6px;
    box-shadow: 1px 2px 35px 0 rgba(1, 1, 1, 0.1);
    width: 35%;
    margin-left: 15%;
}

.timeline .timeline-wrapper .timeline-panel:before {
    position: absolute;
    top: 0;
    width: 100%;
    height: 2px;
    content: "";
    left: 0;
    right: 0;
}

.timeline .timeline-wrapper .timeline-panel:after {
    position: absolute;
    top: 10px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;

    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline .timeline-wrapper .timeline-panel .timeline-title {
    margin-top: 0;
    color: #001737;
    text-transform: uppercase;
}

.timeline .timeline-wrapper .timeline-panel .timeline-body p {
    margin-top: 5px;
}

.timeline .timeline-wrapper .timeline-badge {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 16px;
    left: calc(50% - 7px);
    z-index: 10;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline .timeline-wrapper.timeline-inverted {
    padding-right: 0;
    padding-left: 90px;
}

.timeline .timeline-wrapper.timeline-inverted .timeline-panel {
    margin-left: auto;
    margin-right: 15%;
}


@media (max-width: 767px) {
    .timeline .timeline-wrapper {
        padding-right: 150px;
    }
    .timeline .timeline-wrapper.timeline-inverted {
        padding-left: 150px;
    }
    .timeline .timeline-wrapper .timeline-panel {
        width: 60%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 576px) {
    .timeline .timeline-wrapper .timeline-panel {
        width: 68%;
    }
}

.timeline-wrapper-ethique .timeline-panel:before {
    background: #80E300;
}

.timeline-wrapper-ethique .timeline-badge {
    background: #80E300;
}

.timeline-wrapper-cyber .timeline-panel:before {
    background: #ff4949;
}

.timeline-wrapper-cyber .timeline-badge {
    background: #ff4949;
}

.timeline-wrapper-techno .timeline-panel:before {
    background: #0006ff;
}

.timeline-wrapper-techno .timeline-badge {
    background: #0006ff;
}

.timeline-wrapper-dev .timeline-panel:before {
    background: #00B2E3;
}

.timeline-wrapper-dev .timeline-badge {
    background: #00B2E3;
}
